@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  background-color: blueviolet;
}

.container{
  background-color: white;
  padding: 3%;
  padding-top: 3%;
}

section {
  overflow: auto;
  padding-bottom: 2%;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn, .btn-primary{
  color: black;
  background-color: blueviolet;
}

/* header */

header{
  background-color: black;
}

.container_header{
  background-color: black;
  padding-top: 0%;
  padding-bottom: 0%;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}